main .h3info-data {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
}

main .h3info-data .h3card {
    padding: 30px 10px 20px 10px ;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    height: 150px;
    transition: all 1s ease;
    text-align: center;
}

main .h3info-data .h3card:hover {
    padding: 30px 10px 20px 10px;
    border-radius: 10px;
    background: rgb(168, 214, 233);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 1);
    height: 149px;

}
