h4 {
    font-weight: 600;
    margin: 0;
}


.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow-x: auto;
    width: 100%;
    height: 100vh;
}

.card-body {
    padding: 20px;
}

.card-header{
    background-color: #007bff;
    color: #fff;
    padding: 30px 40px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
    width: 100%;
}



.box-title {
    font-size: 24px;
    font-weight: 600;
    color: black;
    text-align: center;
    overflow: auto;
}

.box_title_link {
    text-align: center;
    overflow: auto;
}

.box_title_link a {
    font-size: 14px;
    color: #0000FF;
    text-decoration: none;
}

.box_title_link a:hover {
    text-decoration: underline;
}


.table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #e3e6f0;
    max-width: auto;
}

.table th {
    background-color: #f8f9fc;
    font-weight: bold;
    text-align: center;
}

.table td {
    text-align: center;
}

.table tbody tr:nth-child(odd) {
    background-color: #f1f3f8;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

.table a {
    color: #007bff;
    text-decoration: none;
}

.table a:hover {
    text-decoration: underline;
}


select.form-control {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    color: #495057;
}

select.form-control:focus {
    outline: none;
    border-color: #007bff;
}

.form-group {
    margin-bottom: 15px;
}

.form-control-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    color: #495057;
    transition: border-color 0.2s;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
}

button:hover {
    background-color: darkblue !important;
    font-weight: 700;
}


