@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #3D52A0;
    --light-blue: #7091e6;
    --dark-grey: #8697c4;
    --grey: #adbbda;
    --light-grey: #ede8f5;

    --blue: #0000FF;
    --white: #fff;
    --red: #ff0000;
    --green: #81d438;

    --black: #0b0c10;
    --light-black: #1f2833;
    --grey2: #c5c6c7;
    --light-sky: #66fcf1;
    --dark-sky: #45a29e;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--light-grey);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}




/* sidebar */
#h3sidebar {
    position: fixed;
    max-width: 260px;
    width: 100%;
    background: var(--light-blue);
    top: 0;
    left: 0;
    height: 100%;
    font-weight: 600;
    overflow-y: auto;
    scrollbar-width: none;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 200;
}

#h3sidebar.hide {
    max-width: 60px;
}
#h3sidebar.hide:hover {
    max-width: 260px;
}
#sidebar::-webkit-scrollbar {
    display: none;
}

/*#sidebar .brand {
	font-size: 24px;
	display: flex;
	align-items: center;
	height: 64px;
	font-weight: 700;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: var(--light);
	transition: all .3s ease;
	padding: 0 6px;
}*/

#h3sidebar .h3logo {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

#h3sidebar .h3logo img {
    width: 80%;
    z-index: 100;
    top: 0;
	left: 0;
    transition: all .3s ease;
    padding: 20px 0 0 0;
    background: var(--light-blue);
}

#h3sidebar .h3icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;

}

#h3sidebar .h3icon-right {
    margin-left: auto;
    transition: all .3s ease;
}

#h3sidebar .h3side-menu {
    margin: 36px 0;
    padding: 0 20px;
    transition: all 0.3s ease;
}

#h3sidebar.hide .h3side-menu {
    padding: 0 6px;
}   

#h3sidebar.hide:hover .h3side-menu{
    padding: 0 20px;
}

#h3sidebar .h3side-menu a{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--black);
    padding: 12px 16px 12px 0;
    transition: all 0.3s ease;
    border-radius: 10px;
    margin: 4px 0;
    font-weight: 600;
    white-space: nowrap;
}

#h3sidebar .h3side-menu > li > a:hover {
    background: var(--light-grey);
}
#h3sidebar .h3side-menu > li > a.h3side-active .h3icon-right{
    transform: rotateZ(90deg);
    transition: all .3s ease;
}

#h3sidebar .h3side-menu > li > a.h3side-active,
#h3sidebar .h3side-menu > li > a.h3side-active:hover{
    background: var(--light-grey);
    color: var(--black);
}

#h3sidebar.hide:hover .h3side-divider {
    text-align: left;
}

#h3sidebar .h3side-divider {
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--light-grey);
    transition: all 0.3s ease;
    white-space: nowrap;
}

#h3sidebar.hide .h3side-divider {
    text-align: center;
}

#h3sidebar .h3side-dropdown {
    padding-left: 54px;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.15s ease;
}

#h3sidebar .h3side-dropdown.show {
    max-height: 1000px;
}

#h3sidebar .h3side-dropdown a:hover {
    color: var(--light-grey);
}


/* sidebar */

/* Content */
#h3content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}

#h3sidebar.hide + #h3content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NavBar */
nav {
    background: var(--light-blue);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav .h3toggle-sidebar{
    font-size: 18px;
    cursor: pointer;
}

nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

nav .h3form-group {
    position: relative;
}

nav .h3form-group input {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    background: var(--white);
    transition: all .3s ease;
}

nav .h3form-group input:focus {
    box-shadow: 0 0 0 1px var(--light-grey), 0 0 0 4px var(--grey);
}

nav .h3form-group .h3nav-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--grey);
}

nav .h3nav-link {
    position: relative;
}

nav .h3nav-link .h3nav-icon {
    font-size: 18px;
    color: var(--black);
}

nav .h3nav-link .h3badge {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light-grey);
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-grey);
    font-size: 10px;
    font-weight: 700;
}

nav .h3nav-divider {
    width: 1px;
    background: var(--grey);
    height: 12px;
    display: block;
}

nav .h3profile {
    position: relative;
}

nav .h3profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

nav .h3profile .h3profile-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--light-grey);
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 160px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

nav .h3profile .h3profile-link.show {
    opacity: 1;
    pointer-events: visible;
    top: 100%;
}

nav .h3profile .h3profile-link a {
    padding: 10px 16px;
    display: flex;
    grid-gap: 10px;
    font-size: 14px;
    color: var(--black);
    align-items: center;
    transition: all .3s ease;
}

nav .h3profile .h3profile-link a:hover {
    background: var(--grey);
}
/* NavBar */

/* Main */
main {
    width: 100%;
    padding: 24px 20px 20px 20px;
}

main .h3title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

main .h3breadcrumbs {
    display: flex;
    grid-gap: 6px;
}

main .h3breadcrumbs li,
main .h3breadcrumbs li a {
    font-size: 14px;
}

main .h3breadcrumbs li a {
    color: var(--blue);
}

main .h3breadcrumbs li a.h3active,
main .h3breadcrumbs li a.h3divider {
    color: var(--grey);
    pointer-events: none;
}

main .h3info-data {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}

main .h3info-data .h3card {
    padding: 20px;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}

main .h3card .h3head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

main .h3card .h3head h2 {
    font-size: 24px;
    font-weight: 600;
}

main .h3card .h3head p {
    font-weight: 14px;
}

main .h3card .h3head .h3icon {
    font-size: 20px;
    color: var(--green);
}

main .h3card .h3head .h3icon.down {
    color: var(--red);
}

main .h3card .h3progress {
    display: block;
    margin-top: 24px;
    height: 10px;   
    width: 100%;
    border-radius: 10px;
    background: var(--grey);
    overflow-y: hidden;
    position: relative;
    margin-bottom: 5px;
}

main .h3card .h3progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--dark-blue);
    width: var(--value);
}

main .h3card .label {
    font-size: 14px;
    font-weight: 700;

}
/* Main */
/* Content */





@media screen and (max-width: 768px) {
    #h3content {
        position: relative;
        width: calc(100% - 60px);
        transition: all 0.3s ease;
    }
    nav .h3nav-divider,
    nav .h3nav-link {
        display: none;
    }
    
}