* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h3logo-img {
     width: 100%;
     height: 50px;

     
}

.h3sidebar {
     position: absolute;
     top: 0;
     left: 0;
     height: 100vh;
     width: 80px;
     background-color: #adbbda;
     padding: .4rem .8rem;
     transition: all 0.1s ease;
} 

.h3sidebar.active ~ .h3main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.h3sidebar.active {
    width: 250px;
}

.h3sidebar #h3btn {
    position: relative;
    color: white;
    top: .8rem;
    left: 45%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.h3sidebar.active #h3btn {
    left: 50%;
}

.h3sidebar .h3top .h3logo {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.h3sidebar.active .h3top .h3logo {
    opacity: 1;
}

.h3top .h3logo {
    margin-right: 5px;
}

.h3sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.h3sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.h3sidebar ul li a:hover {
    background-color: #fff;
    color: #3d52a0;
}

.h3sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.h3sidebar .h3nav-item {
    display: none;
}

.h3sidebar.active .h3nav-item {
    display: inline-block;
}

.h3sidebar ul li .h3tooltip {
    position: fixed;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    display: none;
}

.h3sidebar ul li:hover .h3tooltip {
    display: inline;
}

.h3sidebar.active ul li .h3tooltip {
    display: none;
}